[2020-06-23 14:50] #195 closed, assigned to vmagnin

[2020-06-24 08:26] vmagnin commented on #206
`set_azimut()` is calling `draw_08()`
and is called as a callback function by:
[code]

But why is it called when the window is destroyed ?

[2020-06-24 13:37] vmagnin commented on #193
[code]
Should the whole gtk-fortran library be compiled with `-fopenmp` ?

[2020-06-25 07:19] vmagnin commented on #193
When all gtk-fortran files are compiled with `-fopenmp`:
[code]
Two progress bars begin to run, then the program freezes, then it fails 21 seconds later.

[2020-06-25 07:24] vmagnin commented on #193
https://www.khronos.org/registry/EGL/specs/eglspec.1.5.pdf

[2020-06-26 07:54] vmagnin commented on #193
There is threads functions in GLib:
https://developer.gnome.org/gdk3/stable/gdk3-Threads.html

Even when I put a critical section around each call , it fails. Anyway, if everything is in a critical section, parallelism does not make any sense...

[2020-06-27 08:39] vmagnin commented on #193
That example has been removed from the gtk3 and gtk4 branches.

[2020-06-27 08:39] #193 closed, assigned to vmagnin

[2020-07-08 15:49] vmagnin opened #208 "Gtk-CRITICAL messages when quitting hl_cairo1.f90 and hl_cairo_clock.f90 with CTRL+Q"
**Describe the bug**
When quitting hl_cairo1.f90 with CTRL+Q:
[code]

**Your system:**
 - OS version: Fedora 32
 - Compiler version: gfortran 10.1.1
 - GTK branch: gtk4 (GTK 3.98.4)

**Additional context**
The example is a GtkApplication.
It is destroyed when CTRL+Q by:

      call gtk_window_destroy(my_window)

[2020-07-11 15:06] vmagnin opened #209 "gtkf-sketcher should be installed by sudo make install"
**Describe the bug**
gtkf-sketcher.f90 (and the needed tools and files, like usemodules.py) should be installed by `$ sudo make install` instead of being launchable from the build directory.

**Expected behavior**
The user should be able to call gtkf-sketcher as a command.

**Your system:**
 - GTK branch: gtk3 and gtk4 (gtk2 is now obsolete)

**Additional context**
If we want to be able to install

[2020-07-11 18:57] vmagnin commented on #208
These messages don't appear anymore with GTK 3.98.5 (Fedora Rawhide).

[2020-07-11 18:57] #208 closed, assigned to vmagnin

[2020-07-11 19:24] vmagnin commented on #194
With GTK 3.98.5, those columns are not editable... But it should work again with GTK 3.99.0:
https://gitlab.gnome.org/GNOME/gtk/-/blob/master/NEWS

[2020-07-11 19:28] vmagnin opened #210 "hl_radio.f90 segmentation fault with GTK 3.98.5 and 3.99.0"
**Describe the bug**
The example immediately fails with GTK 3.98.5:
[code]

**Your system:**
 - OS version: Fedora Rawhide (33)
 - Compiler version: gfortran 10.1.1
 - GTK branch: gtk4

**Additional context**
There was no problem with GTK 3.98.4.

[2020-07-12 10:22] vmagnin opened #211 "usemodules.pl and usemodules.py should be merged into a single tool"
For historical reasons, two `usemodules.*` scripts were written.
The Perl version is installed by CMake as a tool for users:
`-- Installing: /usr/local/bin/gtk-3-fortran-modscan`
The Python version is not installed by CMake and is simpler but has an interesting feature: detection of deprecated functions (based on information in the gtk-fortran-index.csv file). And it is used by sketcher/gtkf-sketc

[2020-07-12 13:13] vmagnin opened #212 "Documentation lacks instructions to install gtk-fortran with MSYS2"
On the Wiki there is instructions to build gtk-fortran under Windows using MSYS2. But how do we install the built library in the system? In MSYS2, there is no `sudo` command, so we can not use `$ sudo make install`. But MSYS2-MINGW64 can be launched with the administrator privileges (mouse right button), and we can type `# make install`.

It seems we will need to modify the PKG_CONFIG_PATH variabl

[2020-07-12 20:44] vmagnin commented on #212
[code]

[2020-07-12 20:51] vmagnin commented on #212
[code]

[2020-07-13 20:25] vmagnin commented on #212
[code]

[2020-07-13 20:28] vmagnin commented on #212
[code]

[2020-07-13 20:43] vmagnin commented on #212
A solution could be here: https://stackoverflow.com/questions/44282788/cmake-msys2-wrong-install-path-for-library

But there is still a linking error:
[code]

[2020-07-14 18:32] vmagnin commented on #212
Today, it is OK with:
[code]

[2020-07-14 18:35] vmagnin commented on #212
and also with:
[code]

The `env` command shows that `PKG_CONFIG_PATH=/mingw64/lib/pkgconfig:/mingw64/share/pkgconfig`

[2020-07-14 18:46] vmagnin commented on #212
This is the way to install gtk-fortran in MSYS2-MINGW64, from the build directory:
[code]
This is where the library is installed:
[code]

[2020-07-14 19:09] vmagnin commented on #212
Those commands were added into the documentation.

[2020-07-14 19:09] #212 closed, assigned to vmagnin

[2020-07-15 09:13] #192 closed, assigned to vmagnin

[2020-07-15 20:35] jerryd commented on #205
Current status is I have some preliminaries of OOPish implementation of a general purpose application class and userinterface class, testing with gtk3 to get these sorted out as an infrastructure for any app, then will modify to gtk4

[2020-07-16 09:02] vmagnin commented on #211
[code]

[2020-07-16 09:03] vmagnin commented on #211
[code]

[2020-07-20 10:41] vmagnin commented on #209
See https://github.com/vmagnin/gtk-fortran/pull/213

[2020-08-25 19:17] vmagnin commented on #202
replaced `gtk_file_chooser_select_file()` (removed from GTK 3.99.0) by `gtk_file_chooser_set_file()`

[2020-08-25 19:31] vmagnin commented on #194
The problem was fixed in GTK 3.99.0.

[2020-08-25 19:31] #194 closed, assigned to jerryd, vmagnin

[2020-08-25 19:46] vmagnin commented on #210
Same problem with GTK 3.99.0, but sometimes it runs (~25% success).

[2020-08-25 19:57] vmagnin commented on #183
The warning now appears in Fedora Rawhide with GTK 3.99.0 and gfortran 10.2.1:
[code]

[2020-08-26 19:17] vmagnin commented on #206
The message _"hl_gtk_pixbuf_cairo_new:: Backing surface is NULL"_ is printed by src/gtk-draw-hl.f90 (line 638):

[code]

[2020-08-26 19:26] vmagnin commented on #206
I tried to add `    call plend` in the `my_destroy()` subroutine: no effect.

[2020-08-26 19:28] vmagnin commented on #206
Code in the `hl_gtk_drawing_area_cairo_new()` function:
[code]

[2020-09-29 16:21] vmagnin commented on #210
GtkRadioButton was removed from GTK 3.99.1 (see https://discourse.gnome.org/t/how-to-replace-gtkradiobutton-in-gtk-3-99-1/4176/2)
So hl_radio.f90 was removed from our gtk4-vmagnin branch.

[2020-09-29 16:21] #210 closed, assigned to vmagnin

[2020-10-16 15:35] vmagnin commented on #202
The examples using GtkFileChooser are affected by this GTK 4 bug: https://gitlab.gnome.org/GNOME/gtk/-/issues/2985
still present in GTK 3.99.2.

[2020-10-16 15:50] vmagnin commented on #207
In GTK 3.99.2, `gtk_buildable_get_name()` has become `gtk_buildable_get_buildable_id()`
The change was made in the gtk4-vmagnin branch.

[2020-10-17 10:25] vmagnin commented on #204
Seel also: https://github.com/vmagnin/gtk-fortran/issues/206

[2020-12-17 17:41] vmagnin commented on #201
`gtk_file_chooser_button` was removed from GTK 3.99.5. I removed `hl_gtk_file_chooser_button_new` from `src/gtk_hl_chooser.f90`, `examples/bazaar.f90` and `examples/hl_choosers.f90`.
See https://discourse.gnome.org/t/gtk4-how-to-replace-gtkfilechooserbutton/5023/3

[2020-12-17 17:42] vmagnin commented on #202
`gtk_file_chooser_button` was removed from GTK 3.99.5. I removed `hl_gtk_file_chooser_button_new` from `src/gtk_hl_chooser.f90`, `examples/bazaar.f90` and `examples/hl_choosers.f90`.
See https://discourse.gnome.org/t/gtk4-how-to-replace-gtkfilechooserbutton/5023/3

[2020-12-17 17:44] vmagnin commented on #206
The problem disappeared with GTK 3.99.5.

[2020-12-17 17:44] #206 closed, assigned to vmagnin

[2020-12-17 17:45] vmagnin commented on #101
The GTK 4.0.0 milestone has just been set: https://gitlab.gnome.org/GNOME/gtk/-/blob/master/NEWS

[2020-12-17 17:48] vmagnin commented on #183
Still present in Fedora Rawhide (34) with GTK 3.99.5 and gfortran 11.0.0.

[2020-12-17 18:14] vmagnin commented on #178
Note that at the moment there is no plan to port Glade to GTK4:
https://discourse.gnome.org/t/glade-for-gtk4/4877

[2020-12-18 09:41] vmagnin opened #214 "notebooks.f90: warning when clicking on "Remove page" until there is no more page"
**Describe the bug**
A warning when clicking on the "Remove page" button until there is no more page:
[code]
Then clicking on the "tab position" button yields the same warning.

**Your system:**
 - OS version: Fedora Rawhide (34)
 - Compiler version: gfortran 11.0.0
 - GTK branch: gtk4-vmagnin (GTK 4.0.0)

[2020-12-18 09:49] vmagnin opened #215 "hl_plplot17e.f90 and hl_plplot17e_gto.f90: Segmentation fault"
**Describe the bug**
When launching hl_plplot17e.f90 and hl_plplot17e_gto.f90:
[code]

**Your system:**
 - OS version: Fedora Rawhide (34)
 - Compiler version: gfortran 11.0.0
 - GTK branch: gtk4-vmagnin (GTK 4.0.0)
 - Build type: debug and release

**Additional context**
hl_plplot17e_gto.f90 also prints that warning:
[code]

Everything is OK with the gtk3 branch on the same system (same PLplot ve

[2020-12-18 10:01] vmagnin opened #216 "mandelbrot_pixbuf_zoom.f90 crashes when zooming too fast with the scroll wheel"
**Describe the bug**
It crashes when zooming too fast with the scroll wheel:
[code]

**Your system:**
 - OS version: Fedora Rawhide (34)
 - Compiler version: gfortran 11.0.0
 - GTK branch: gtk4-vmagnin (GTK 4.0.0)

**Additional context**
It's OK when scrolling one step at a time.

[2020-12-18 10:11] #101 closed

[2020-12-18 10:12] #189 closed, assigned to jerryd, vmagnin, bonanza

[2020-12-18 10:27] vmagnin opened #217 "check buttons fails"
**Describe the bug**
When checking a check button in  hl_assistant.f90, hl_plplot8e.f90, hl_list1.f90:
[code]

**Your system:**
 - OS version: Fedora Rawhide (34)
 - Compiler version: gfortran 11.0.0
 - GTK branch: gtk4-vmagnin (GTK 4.0.0)

[2020-12-18 10:36] vmagnin opened #218 "hl_list1.f90: the "Append" button won't work."
**Describe the bug**
Nothing happens when clicking on the "Append" button. And no warning.

**Expected behavior**
Should insert a row in the list.

**Your system:**
 - OS version: Fedora Rawhide (34)
 - Compiler version: gfortran 11.0.0
 - GTK branch: gtk4-vmagnin (GTK 4.0.0)

[2020-12-18 10:43] vmagnin opened #219 "[GTK 4 bug] hl_list_n.f90, hl_list_renderers.f90, hl_tree.f90: a warning when double-clicking in a field for editing"
**Describe the bug**
In hl_list_n.f90, hl_list_renderers.f90, hl_tree.f90, a warning appears when double-clicking in a field for editing:
[code]
But edition is working.

**Your system:**
- OS version: Fedora Rawhide (34) ; MSYS2/Windows 10
- Compiler version: gfortran 11.0.0 ; 10.2.0
- GTK branch: gtk4-vmagnin (GTK 4.0.0 ; 3.99.4)

[2020-12-18 10:48] vmagnin opened #220 "bazaar.f90, hl_dialog.f90: a warning appears when opening the "About" dialog"
**Describe the bug**
In bazaar.f90, hl_dialog.f90, a warning appears when opening the "About" dialog:
[code]

**Your system:**
- OS version: Fedora Rawhide (34)
- Compiler version: gfortran 11.0.0
- GTK branch: gtk4-vmagnin (GTK 4.0.0)

[2020-12-18 11:58] vmagnin opened #221 "hl_choosers.f90, hl_plplot8e.f90, hl_cairo_viewer.f90: warning when closing the filechooser dialog with the cross"
**Describe the bug**
In hl_choosers.f90, hl_plplot8e.f90, hl_cairo_viewer.f90, when closing the filechooser dialog with the cross:
[code]
But the application does not crash. And you can still open the dialog afterward.

**Your system:**
- OS version: Fedora Rawhide (34)
- Compiler version: gfortran 11.0.0
- GTK branch: gtk4-vmagnin (GTK 4.0.0)

[2020-12-18 12:06] #202 closed, assigned to vmagnin

[2020-12-18 12:26] vmagnin opened #222 "[GTK 4 bug] when you type a character in the location entry of a file chooser, the search entry is activated"
**Describe the bug**
In hl_choosers.f90 ("Save As" button) and hl_plplot8e.f90, when you type a character in the location entry, the search entry is activated. So you can not type the name of a file.

This is known as a GTK 4 bug:
https://gitlab.gnome.org/GNOME/gtk/-/issues/2985
https://discourse.gnome.org/t/gtk-4-gtkfilechooserwidget-seems-to-be-always-in-search-mode/3611

**Your system:**
- OS v

[2020-12-18 12:44] vmagnin opened #223 "gtk-hl-chooser.f90: Segmentation fault when opening/saving a file using the file chooser"
**Describe the bug**
The examples hl_choosers.f90, hl_cairo_viewer.f90, hl_plplot8e.f90 fail with a segmentation fault when opening/saving a file using the file chooser (gtk-hl-chooser.f90):
[code]

**Your system:**
- OS version: Fedora Rawhide (34)
- Compiler version: gfortran 11.0.0
- GTK branch: gtk4-vmagnin (GTK 4.0.0), also GTK 3.99.4

[2020-12-18 13:10] vmagnin opened #224 "hl_cairo_viewer.f90 does not show image when using command line"
**Describe the bug**
hl_cairo_viewer.f90 does not show any image when the file is given in the command line:
[code]
The window is empty.
But when using the dialog, it's OK.

**Your system:**
- OS version: Fedora Rawhide (34)
- Compiler version: gfortran 11.0.0
- GTK branch: gtk4-vmagnin (GTK 4.0.0)
- Release and debug

[2020-12-18 13:39] vmagnin commented on #178
The last file using `gtk_builder_connect_signals()` is `sketcher/gtkf-sketcher.f90`

[2020-12-18 13:41] #178 closed, assigned to vmagnin, bonanza

[2020-12-18 13:42] #204 closed, assigned to vmagnin

[2020-12-18 13:56] vmagnin commented on #216
Fixed by:
[code]
The GTK 3 branch is not affected.

[2020-12-18 13:56] #216 closed, assigned to vmagnin

[2020-12-18 14:10] vmagnin commented on #220
Fixed by removing those lines:
[code]
The gtk3 branch is not concerned.

[2020-12-18 14:18] vmagnin commented on #220
After removing `call g_signal_connect(about, "response"//c_null_char, c_funloc(dialog_callback))` in src gtk-hl-dialog.f90, the warning disappears but opening a second time the About dialog in hl_dialog.f90 yields:
[code]
The problem is the gtk_window_destroy() function is called by the dialog_callback() function.

[2020-12-18 14:26] vmagnin commented on #220
Fixed by replacing the `response` signal by the `close-request` signal.
https://developer.gnome.org/gtk4/stable/GtkWindow.html#GtkWindow-struct

[2020-12-18 14:26] #220 closed, assigned to vmagnin

[2020-12-18 15:03] vmagnin commented on #218
Not really a bug: you must press the "Enter" key before pressing the button...

[2020-12-18 15:03] #218 closed, assigned to vmagnin

[2020-12-18 15:07] vmagnin commented on #215
[code]
and
[code]

[2020-12-19 15:17] vmagnin commented on #223
[code]

[2020-12-19 15:48] vmagnin commented on #223
The crash occurs on this line 387:
[code]
https://developer.gnome.org/glib/unstable/glib-Singly-Linked-Lists.html#g-slist-length

In GTK 3, `gtk_file_chooser_get_files()` returns a GSList. In GTK 4, it returns a GListModel:
https://developer.gnome.org/gtk3/stable/GtkFileChooser.html#gtk-file-chooser-get-files
https://developer.gnome.org/gtk4/stable/GtkFileChooser.html#gtk-file-chooser-get-files
ht

[2020-12-19 17:13] vmagnin commented on #223
Fixed by replacing GSList functions by GListModel functions.

[2020-12-19 17:13] #223 closed, assigned to vmagnin

[2020-12-19 17:33] vmagnin opened #225 "hl_plplot8e.f90: crashes when saving the screenshot file (debug mode)"
**Describe the bug**
hl_plplot8e.f90 crashes when saving the PNG file with the "Dump screen" button:
[code]

**Your system:**
- OS version: Fedora Rawhide (34)
- Compiler version: gfortran 11.0.0
- GTK branch: gtk4-vmagnin (GTK 4.0.0) & gtk3
- Debug mode (no problem in release mode)

[2020-12-19 17:51] vmagnin commented on #225
Line 1068 is the last line in this code:
[code]
https://developer.gnome.org/gdk-pixbuf/unstable//gdk-pixbuf-Module-Interface.html#gdk-pixbuf-format-get-extensions

[2020-12-19 18:18] vmagnin commented on #224
If you give two images:
[code]
No image is shown, but when you select one of the two in the GUI it is shown.

[2020-12-20 10:49] vmagnin commented on #221
Removed that line:
[code]
in src/gtk-hl-chooser.f90.

[2020-12-20 11:06] vmagnin commented on #221
But now, the "Cancel" button of the dialog has no effect anymore...

https://developer.gnome.org/gtk4/stable/GtkDialog.html

[2020-12-20 11:40] vmagnin commented on #217
GtkCheckButton is not derived anymore from GtkToggleButton:
https://developer.gnome.org/gtk4/stable/GtkCheckButton.html

We now use `gtk_check_button_get_active` and `gtk_check_button_set_active`

[2020-12-20 11:40] #217 closed, assigned to vmagnin

[2020-12-20 11:47] vmagnin commented on #225
[code]

[2020-12-20 20:16] vmagnin commented on #221
Fixed by adding a  `call gtk_window_close(dialog)` in case of `GTK_RESPONSE_CANCEL`. The subroutine `hl_gtk_chooser_resp_cb()` has now the `recursive` attribute, because  `gtk_window_close()` will cause a second call.

[2020-12-20 20:16] #221 closed, assigned to vmagnin

[2020-12-21 09:59] konokadam opened #226 "Packing more than one cell renderer in treeview column"
Hi,

First of all thank you very much for this great library. I'm playing with treeview widget for some time. You can check my github share https://github.com/konokadam/ForGtkAdvancedTreeviewInput. While trying to write codes for my desired treeviews I met some difficulties using gtk-fortran, that is gtk-hl-tree is very helpful generally, however it is not enough if you would like to pack more tha

[2020-12-21 18:17] vmagnin commented on #226
Hi @konokadam
welcome in our gtk-fortran small community!
I will clone and try your project as soon as possible. The screenshots are cool!

Feel free to work on gtk-hl-tree.f90 and make a pull request! The original author of the HL library is not maintaining it anymore, and it was a hard work for me to adapt it to GTK 4.0. Concerning gtk-hl-tree.f90, there is happily only 5 diff lines between the

[2020-12-22 09:23] vmagnin commented on #214
https://developer.gnome.org/gtk4/stable/GtkNotebook.html#gtk-notebook-get-current-page

Added a test in the `remove_book()` function (both in GTK 4 and GTK 3 branches).
With GTK 4, the warning still appears when removing the last page.

[2020-12-22 10:09] #214 closed, assigned to vmagnin

[2020-12-23 10:43] konokadam commented on #226
Thank you @vmagnin , I would be happy if you add me to the #gtk-fortran channel.
I'm wo

[2020-12-23 10:46] konokadam commented on #226
Thank you @vmagnin , I would be happy if you add me to the #gtk-fortran channel.
I'm working on treeview widget as I said, I would like to contribute the hl module if I can.

[2020-12-24 10:47] vmagnin commented on #226
Hi @konokadam , you're welcome. I just need your email address to send you the Slack invitation. I did not find any usable email in the history of your git project. If you don't want to put it here, you can send me an email using one of my email address that you will find in the `$ git log` of gtk-fortran.

Can you also send me the command you use to compile and test your ForGtkAdvancedTreeviewInp

[2021-01-03 16:14] vmagnin commented on #224
There is no problem in the gtk3 branch...

[2021-01-04 13:40] vmagnin commented on #183
I now have a lot of those warnings in the gtk3 branch with gfortran 10.2.0 (Kubuntu 20.10).

[2021-01-04 13:51] jtappin commented on #183
I think that adding the `--no-pie` option in the program build step gets rid of them. Can't remember where I found that, but it works for one of the event handlers in `graffer`.

[2021-01-04 14:07] vmagnin commented on #183
Hi James @jtappin ,
thanks for the clue. I will try that option.

So PIE is "Position Independent Executable":
https://stackoverflow.com/questions/47778099/what-is-no-pie-used-for
https://stackoverflow.com/questions/49101265/how-to-configure-gcc-to-use-no-pie-by-default
It's for hardened security. So is it a good idea to remove it? Is there any solution to keep PIE but remove the warnings ?

[2021-01-04 15:29] vmagnin commented on #215
http://plplot.sourceforge.net/docbook-manual/plplot-html-5.15.0/plstripa.html
http://plplot.sourceforge.net/docbook-manual/plplot-html-5.15.0/plstripc.html

[2021-01-06 08:44] vmagnin commented on #219
https://gitlab.gnome.org/GNOME/gtk/-/issues/3180

[2021-01-11 10:40] vmagnin commented on #225
Fixed by writing: `call c_f_pointer(vlist, val, [g_strv_length(vlist)])`

https://developer.gnome.org/glib/stable/glib-String-Utility-Functions.html#g-strv-length

[2021-01-11 11:35] vmagnin commented on #225
The problem is fixed only for PNG which is the first format explored by `hl_gdk_pixbuf_format_find()`.
But if we use `.jpg` or `.tif` extension, it crashes when exploring the `jpeg2000` (7th format over 15):

[code]

[2021-01-11 12:59] vmagnin commented on #225
If I had a line `print *, name, g_strv_length(vlist)`, I can see that except for png, all the formats have a `g_strv_length(vlist)` of 3:
[code]
But we can see in Wikipedia, that jpeg2000 has 9 possible extensions!

So our fix will be:
[code]

[2021-01-11 12:59] #225 closed, assigned to vmagnin

[2021-01-12 08:46] vmagnin commented on #224
I have tested a lot of things. The `show_image()` callback function is well called by the following lines:
[code]
Perhaps the `gtk_combo_box_set_active(select, current_file)` should be called after the `activate()` subroutine is terminated. But how to do that ?
A timer ?
https://developer.gnome.org/glib/stable/glib-The-Main-Event-Loop.html#g-timeout-add

[2021-01-12 09:30] vmagnin commented on #224
Fixed by adding:
[code]

[2021-01-12 09:30] #224 closed, assigned to vmagnin

[2021-01-13 09:38] vmagnin commented on #215
Crash occurs generally at the second `call add_point(drawing)`, sometimes at the first one.

If we write:
[code]
 those 50 points will appear, and the crash will occur at the 51th point.
 So the crash occurs only after we try to add points after the `call pending_events()` treating the first ones. Something concerning Cairo seems to be lost after updating screen the first time...

 But sometimes i

[2021-01-13 10:54] vmagnin commented on #215
x17f.f90, copied from /usr/share/plplot5.15.0/examples/fortran , is successfully running on the same (virtual) machine:
`$ gfortran x17f.f90 $(pkg-config --cflags --libs plplot-fortran)`
with the following graphical drivers:
[code]

[2021-01-14 09:25] vmagnin commented on #222
In MSYS2/Windows 10 (gfortran 10.2.0, GTK 3.99.4), the search entry is not activated, but there is also a strange behaviour: some keyboard keys are working, others not ("e", "t", "u"...)

[2021-01-15 13:46] vmagnin commented on #215
hl_plplot17e_gto.f90 crashes also when the line `call gtk_widget_queue_draw(area)` in the function `add_point()` is commented.

[2021-01-15 17:15] vmagnin commented on #219
I have submitted a bug on:
https://gitlab.gnome.org/GNOME/gtk/-/issues/3585

[2021-01-19 05:12] han190 opened #227 "GTK4 pkg-config name"
Hi, I read you post [here](https://fortran-lang.discourse.group/t/the-counter-intuitive-rise-of-python-in-scientific-computing/469/87) and tried your gtk4 branch. Everything goes smoothly and thank you for your effort!

A small issue is when link to a project we still use `gfortran xxx.f90 $(pkg-config --cflags --libs gtk-3-fortran)`, should it be renamed to `gtk-4-fortran`? (I know this branch is

[2021-01-19 08:11] vmagnin commented on #227
Hi @han190 ,
thank you for reporting everything is OK! I guess you used Fedora?
That's right, you must link to `gtk-4-fortran`, after of course having `sudo make install` it.
That naming allows to have gtk-3-fortran and gtk-4-fortran installed on the same machine (and even gtk-2-fortran).
I will update the doc later.

[2021-01-19 14:50] vmagnin commented on #207
I used `$ gtk4-builder-tool simplify --3to4 gtkf-sketcher.glade` to identify and remove deprecated properties from that Glade file. Then `$ gtk4-builder-tool validate gtkf-sketcher.glade` to identify and remove deprecated signals and objects. Finally I used `
$ gtk4-builder-tool simplify --3to4 --replace gtkf-sketcher.glade` to port it to GTK 4. And I have done some more cleanup. By now in the gtk

[2021-01-19 15:01] vmagnin commented on #207
The only big remaining problem is how to parse the signals of each object in the UI file: we need to store them in that array:
[code]
  Example of an object in a UI file:
[code]
Note that there could also be several signals.

In GTK3, it was made using two times `gtk_builder_connect_signals_full()` (removed from GTK 4): the subroutines `count_connections (builder, object, signal_name, handler_name

[2021-01-20 01:31] han190 commented on #227
Yes I am using Fedora 33 and yes I get the `gtk-4-fortran` option. Some of the mini apps I wrote before using `gtk-3-fortran` brokes, it's probably because gtk4 uses different function/widget names, I will have to go through their documentations.

[2021-01-20 10:18] vmagnin commented on #227
Yes, many API were broken: some disappeared and were replaced by another API, the name or arguments of some functions changed...
- The official advices are here:
https://developer.gnome.org/gtk4/stable/gtk-migrating-3-to-4.html
- You can also look the GTK 4 issues in the gtk-fortran GitHub.
- Or look at the differences in the examples between the gtk3 and gtk4 branches:
`$ git diff gtk3 gtk4 -- gt

[2021-01-21 10:44] vmagnin commented on #207
Another problem in gtkf-sketcher is that in GTK 3, `gtk_widget_is_toplevel()` was used to identify the toplevel object in the UI file. In GTK 4, that function is gone.
Updated: replaced by this code which give the name of the toplevel widget of a widget:
[code]

[2021-01-21 11:15] vmagnin commented on #156
That warning has disappeared (gfortran>=10).

[2021-01-21 11:15] #156 closed

[2021-01-21 17:06] vmagnin commented on #227
I have written a new wiki page: https://github.com/vmagnin/gtk-fortran/wiki/Migrating-to-GTK-4

[2021-01-21 17:06] #227 closed, assigned to vmagnin

[2021-02-01 17:11] nyckmaia opened #228 "Embed resources like ui files"
I would like to know if is possible to embed the UI files into the final binary.

Thank you,

[2021-02-01 17:31] vmagnin commented on #228
I think you can use `gtk_builder_new_from_string()`:
https://developer.gnome.org/gtk3/stable/GtkBuilder.html#gtk-builder-new-from-string

I have not found any use of that function in any example of gtk-fortran, but I have found a Python example here:
https://discourse.gnome.org/t/how-to-create-menus-for-apps-using-python/2413/18

Don't forget to add the `c_null_char` constant to the Fortran string

[2021-02-01 17:43] nyckmaia commented on #228
Thank you @vmagnin for your quick response...

I'm a newer in Fortran and GTK...
If `gtk-fortran` package does **NOT** have the `gtk_builder_new_from_string()` wrapper, so it's not possible to do it directly in Fortran, right?

If yes, can I call the pure C GTK function?
How can I do that?

[2021-02-01 17:51] vmagnin commented on #228
Welcome, in the project! Tell me more on the branch and version you are using.
In the latest gtk-fortran files in the gtk3 branch, I have found that function in the `src/gtk-auto.f90`:
[code]
It is possible that in an older version of gtk-fortran that function was not detected. But you can download the current version.
UPDATED: if don't want to install a newer gtk-fortran version, you could also s

[2021-02-01 18:05] nyckmaia commented on #228
@vmagnin great!

Well, I saw that GTK 4.0 is available.
So I'm trying to use this version with `fortran-gtk`.

Which is the better way to get embed the Glade XML string into the Fortran binary?
Copy and paste inside the *.f90 file?

My Setup is:
* Windows 10 x64
* MSYS 2 gfortran 10.2
* MSYS 2 gtk4.0
* MSYS 2 glade

[2021-02-01 18:13] vmagnin commented on #228
OK, you can use the gtk4 branch, the `gtk_builder_new_from_string()` is available in it (all the available Fortran/C interfaces are listed in the file https://github.com/vmagnin/gtk-fortran/blob/gtk4/src/gtk-fortran-index.csv).
Yes, you will have to create a Fortran string and copy and paste the UI definitions inside the *.f90 file. You will have to figure out how to put a multi-line string into a

[2021-02-01 18:25] nyckmaia commented on #228
@vmagnin thank you for all information!

In my case, the generated Glade XML file will be a larger file...
So, to do the continuation lines manually in Fortran using `&` will be very tedious....
And another thing: The Fortran-2008 Standard have a continuation lines limit of 255 lines.

[http://fortranwiki.org/fortran/show/Continuation+lines](http://fortranwiki.org/fortran/show/Continuation+lines)

[2021-02-01 19:37] vmagnin commented on #228
OK, if the file is big I think it is better to distribute it alongside the binary, like in our gtkbuilder.f90 and gtkbuilder2.f90 examples which need the gtkbuilder.glade file in the same directory as their binaries. But of course, perhaps you don't want the user to modify that file...

I am not aware of any mechanism which could allow the compiler to include the XML file into the binary... And I

[2021-02-01 20:01] nyckmaia commented on #228
@jerryd any ideas?

[2021-02-01 20:04] vmagnin commented on #228
Perhaps you could put the XML into a string in a C file, generate an object file, and link with the Fortran file using ISO_C_BINDING... Just an idea...

[2021-02-05 14:53] vmagnin opened #229 "gtk-fortran should be usable as a dependency using the Fortran Package Manager (fpm)"
The new _Fortran Package Manager_ (fpm) can import dependencies from the web using git. For the moment it is limited to dependencies based on fpm. But in the future it should be able to import other projects which propose a build script, via the `build-script` variable of their fpm.toml file. Or even directly call CMake.

Our first attempt to use fpm is related here: https://github.com/fortran-lan

[2021-02-25 09:45] vmagnin commented on #205
A new menubar.f90, contributed by @jerryd, demonstrates a menubar based on GMenu and GAction. It also uses CSS styles:
https://github.com/vmagnin/gtk-fortran/blob/gtk4/examples/menubar.f90

It is based on https://github.com/ToshioCP/Gtk4-tutorial/blob/main/src/menu/menu2.c

[2021-02-25 09:45] #205 closed, assigned to jerryd

[2021-03-16 05:14] Zaya6 commented on #229
any progress on this?

[2021-03-16 07:51] vmagnin commented on #229
The Fortran-lang community is working hard on fpm, but we must be patient. In order to use gtk-fortran as an fpm dependency, we need at least those two features:

- fpm must be able to manage CMake based projects: https://github.com/fortran-lang/fpm/issues/69
    - It is a part of the ideas proposed for the 2021 Google Summer of Code: https://github.com/fortran-lang/fortran-lang.org/wiki/GSoC-2021

[2021-03-17 08:34] maurosgroi opened #230 "Compilation error on Windows"
Dear developer,
my name is Mauro Sgroi and I'm trying to install gtk.fortran on Cygwin64. I would prefer to use Cygwin with respect to Msys2 since I exensively use Cygwin for other applications.
I succeeded to compile Plplot and configured gtk.fortran with:

PKG_CONFIG_PATH=/home/sgroi/apps/plplot/5.15.0/lib/pkgconfig cmake -DCMAKE_INSTALL_PREFIX=/home/sgroi/apps/gtk-fortran ../

During compilatio

[2021-03-17 09:10] vmagnin commented on #230
Welcome Mauro @maurosgroi !
I have no experience about cygwin (or a very long time ago).
But this is a linking error and the `g_get_os_info()` function is a part of the GLib:
https://developer.gnome.org/glib/unstable/glib-Miscellaneous-Utility-Functions.html#g-get-os-info
and that documentation says it is present since GLib 2.64.

Can you look at your GLib version ?
If it is <2.64 there is two sol

[2021-03-17 09:59] maurosgroi commented on #230
Dear vmagnin,
the substitution of glib.auto.f90 with an onlde version causes other errors..
How can I understand which are the fortran interfaces that give errors?
Best regards,
Mauro.

[2021-03-17 10:11] vmagnin commented on #230
The message `undefined reference to g_get_os_info` means the linker does not find the function `g_get_os_info()` into your GLib version. So you can try to delete its Fortran interface in glib-auto.f90 and rebuild.
The problem is that you will have to make that for each missing function. If you must do it 10 times it's OK, but if it happens 100 times... :-(

Did you try with the v17.10 glib-auto.f9

[2021-03-17 10:34] vmagnin commented on #230
You can also have a look at: https://linux.die.net/man/1/ld
to the `--unresolved-symbols` option of the ld linker.

[2021-03-17 11:29] maurosgroi commented on #230
I removed g_get_os_info from glib-auto.f90 and the call:

call c_f_string_copy(g_get_os_info("PRETTY_NAME"//c_null_char), os_string) in the gtk-fortran.f90 file.

Now the package compiles.

Will it be functional? Or the modifications risk to compromise it?

Best regards,
Mauro.

[2021-03-17 15:11] vmagnin commented on #230
Fine, happily there is only one missing function!
There is no problem, the `gtk-fortran.f90` utility is really not necessary for using gtk-fortran. It is just a command to show some information, like the GTK version installed on the machine. It can be useful for example if you don't remember the pkg-config command:
[code]

[2021-03-17 15:45] maurosgroi commented on #230
Great!
Thanks a lot and best regards,
Mauro Sgroi.

[2021-03-17 17:08] #230 closed, assigned to vmagnin

[2021-03-18 17:37] ifemi opened #231 "Unable to compile gtkhello.f90 using gfortran on WSL Ubuntu-20.04"
**Describe the bug**
I ran the following:
`gfortran `pkg-config --cflags --libs gtk+-3.0` ./gtk-examples/gtkhello.f90 ./gtk-src/gtk.f90`

**Expected behavior**
Expected to compile and run a gui

**To Reproduce**

**Your system:**
 - OS version: [e.g. Ubuntu 20.04 64 bits]
 - Compiler version: [e.g. gfortran 9.3.0]
 - GTK branch: [e.g gtk3]

**Additional context**
Error:

`./gtk-examples/gtkhello.f

[2021-03-18 17:49] ifemi commented on #231
The main issue seems to be:
`./gtk-src/gtk.f90:53:8:

   53 |     **use g, only: g_signal_connect_data**
      |        1
**Fatal Error: Cannot open module file ‘g.mod’ for reading at (1): No such file or directory**`

[2021-03-18 19:44] vmagnin commented on #231
Welcome @ifemi ,
you must compile the files in a precise order: if a file uses a module, the module must be placed before in the compilation command line:
`./gtk-src/glib-auto.f90 ./gtk-src/gtk.f90 ./gtk-examples/gtkhello.f90`
because `gtkhello.f90` uses the `gtk` module which uses the `g` module (g stands for glib).

And for more complicated examples you may need to identify and compile more modu

[2021-03-18 21:51] ifemi commented on #231
Very many thanks @vmagnin everything is quite ok now

I did use CMake to install gtk-fortran.

My environment is WSL2, Ubuntu-20.04 and Visual Studio Code as IDE and of course gfortran, gtk-fortran and glade for the UI

NOTE:
In VS Code the command used in the task.json is:
gfortran ${file} `pkg-config --cflags --libs gtk-3-fortran` -o ${fileDirname}/${fileBasenameNoExtension}.out

However that gi

[2021-03-18 21:57] ifemi commented on #231
Without sudo:

`/gtk-examples/gtkhello.f90:72:19:

   72 | end module handlers
      |                   1
Fatal Error: Cannot open module file ‘handlers.mod0’ for writing at (1): Permission denied
compilation terminated.`

[2021-03-18 22:05] ifemi commented on #231
@vmagnin is there a way of getting past the permission problem?

[2021-03-19 08:10] vmagnin commented on #231
@ifemi , thanks for sharing information about WSL2 and VS Code, that could be useful for other users!
Does the compilation command works in command line?
It seems VS Code is running gfortran from a directory where it has no permission.

Maybe you could try using the gfortran's `-J` option:

[2021-03-20 12:30] ifemi commented on #231
Many thanks @vmagnin it worked on the command line.

The -Jdir worked perfectly. Please note for VS Code I used:
"gfortran -g -J${fileDirname} ${file} `pkg-config --cflags --libs gtk-3-fortran` -o ${fileDirname}/${fileBasenameNoExtension}.out"

or

"gfortran -g -J${fileDirname} ${file} `pkg-config --cflags --libs gtk-3-fortran` -o ${fileDirname}/${fileBasenameNoExtension}"

[2021-03-21 03:10] ifemi opened #232 "How to use gtkf-sketcher"
Hello everyone and hello @vmagnin ,

I can't seem to find any documentation on how to use gtkf-sketcher.

Kindly illustrate with and example how the gtkf-sketcher is used.

Many thanks

[2021-03-27 12:01] ghost opened #233 "Interfaces to libcairo"
This project contains interfaces to libcairo that would be useful to have available as a separate _fpm_ package. I could create such a package, with proper credit, and create a pull request. What do you think? Thank you for developing gtk-fortran.

[2021-03-27 14:45] vmagnin commented on #233
Thanks for the kind words.

Yes, until GTK4 arrived, GTK was using Cairo for most renderings. In GTK4, it is still present but most renderings are now done with GL or Vulkan: https://developer.gnome.org/gtk4/stable/ch03s06.html

As you talk both about a separate fpm package and a pull request, I am not sure to understand exactly what you mean:
- If you want to create a new repository with an fpm C

[2021-03-27 16:02] ghost commented on #233
Hi @vmagnin . Thank you for the reply.

The original message is confusing, indeed. What I had in mind was something like this:

1. an (empty) repository would be created at https://github.com/vmagnin/fortran-cairo
2. I would clone (1), add `src/cairo-auto.f90`, `fpm.toml` manifest file, GPLv3-LICENSE file, etc
3. Create a pull request to (1)

If you agree, I can do (2) and (3).

[2021-03-27 20:31] vmagnin commented on #233
@brocolis
I could create the repository and give you direct access as a collaborator. It would be easier than managing pull requests. Or you could just create your own repository. It's OK for me, let me know what you prefer.

Should we call it `fortran-cairo` or `cairo-fortran` (like gtk-fortran)?

Note also that I think the version in the gtk4 branch may be newer that in the gtk3 branch, although

[2021-03-29 10:55] ghost commented on #233
Hi @vmagnin, I think I'll create my own repository and follow the name convention of the origin project, `cairo-fortran`, thanks for the permission 👍.

[2021-03-29 17:04] vmagnin commented on #232
@ifemi,
you're right, even basic information about gtkf-sketcher is missing! Writing a tutorial could be a good idea. Although the future of this app is not clear: for the moment there is no plan to port Glade to GTK 4 and the GTK 4 version of gtkf-sketcher is missing some important features, because some GTK 3 API disappeared. See Issue https://github.com/vmagnin/gtk-fortran/issues/207

But conce

[2021-03-29 17:10] #231 closed, assigned to vmagnin

[2021-03-29 17:13] vmagnin commented on #233
Let me know of your progress and I will add a link to your repo for people who could be interested only by Cairo.

[2021-03-30 16:25] ifemi commented on #232
Very many thanks @vmagnin. I'd hoped that sketcher would make it easier for me to transition into using glades for FORTRAN gui developments. I will have to rollup my sleeves and learn the gtk-glade bindings.

Great work you are doing btw. Much appreciated

[2021-03-30 20:05] vmagnin commented on #232
You have three solutions to create a GUI with gtk-fortran:
1. hard-coding the GUI in Fortran, inspiring yourself with the gtk-fortran examples,
2. using Glade (at least for GTK 3) to create a `.ui` file and use the GtkBuilder API,
3. or write yourself your `.ui` file and use the GtkBuilder API: https://developer.gnome.org/gtk3/stable/ch01s03.html

It's true that, in all cases, the learning curve i

[2021-04-02 19:02] vmagnin opened #234 "Solving problems with GTK 4.2.0 and GLib 2.68"
**Describe the bug**
After generating gtk-fortran with GTK 4.2.0 and GLib 2.68 under Fedora 34, building fails because of new `GLIB_AVAILABLE_ENUMERATOR_IN_2_68` constants appearing in `gtkenums-auto.f90`:
[code]
These constants are defined in `glib-2.0/glib/gversionmacros.h`:
[code]
meaning they are replaced by a void string if the C preprocessor knows that 2.68 is available.

Should be fixed by

[2021-04-03 16:00] vmagnin commented on #234
Fixed by adding line 83 in enums.py:
[code]

[2021-04-03 16:00] #234 closed, assigned to vmagnin

[2021-04-03 16:39] vmagnin commented on #222
See https://gitlab.gnome.org/GNOME/gtk/-/issues/2638
That GTK 4 bug is still present in GTK 4.2.0-2 (Fedora 34).

[2021-04-04 00:07] ghost commented on #233
@vmagnin, Hi, I started the project at https://github.com/brocolis/cairo-fortran 👍.

[2021-04-04 10:03] vmagnin commented on #233
@brocolis
Cool! I have just cloned it and build it without problem with fpm.
Note that as the Clarendon font is not installed on my machine, I have obtained a sans-serif F.

[2021-04-04 10:15] vmagnin commented on #233
cairo-fortran is now appearing in:

- https://github.com/vmagnin/gtk-fortran/wiki/Projects-using-gtk-fortran
- https://github.com/vmagnin/gtk-fortran/wiki#news

[2021-04-04 10:15] #233 closed, assigned to vmagnin

[2021-05-07 12:27] nshaffer opened #235 "X Window System error when running examples"
I cloned the repo (gtk4 branch), made a build directory, and from it ran
[code]
My compiler is gfortran 10.2.0 and my system is Arch Linux 32 bit.
Before this, I installed gtk4 using my package manager, which got me GTK version 1:4.2.0-5.0. The version of glibc on this system is 2.33-4.2

I find that none of the graphical examples are able to run. For instance:
[code]

However, the examples that d

[2021-05-07 12:56] vmagnin commented on #235
Thanks @nshaffer for reporting that issue.

I have never encountered that error. Maybe it is linked to GTK 4 changes around Wayland, Vulkan, etc.
Some ideas of things you could test:

- launch the `gtk4-demo`: does it run or fail like the gtk-fortran examples?
- Try to build and run the `gtk3` branch of gtk-fortran. Does it also fail?

The warnings you have cited are probably not related to the pr

[2021-05-07 13:01] vmagnin commented on #235
Searching on the web, I found that `GLXBadFBConfig` is related to OpenGL. If OpenGL is activated on your desktop, maybe you could try to deactivate it before running gtk-fortran examples.

[2021-05-10 03:42] nshaffer commented on #235
Thanks, @vmagnin. I will give the gtk3 branch a try and report back.

When you say to run `gtk4-demo`, where should I look to find that? In `${PREFIX}/bin`? I have a `gtk-demo` that seems to run OK, but it's not obvious to me if that's tied to gtk3 or 4 (I have 2, 3, and 4 all installed on this machine).

Thanks also for the lead that it may be OpenGL related. My own searching leads me to think it

[2021-05-10 06:57] vmagnin commented on #235
@nshaffer
The `gtk?-demo` is in `/usr/bin` on my Ubuntu machine. In Ubuntu, it's in the package `gtk-?-examples` (where `?` is 3 or 4).

In the `gtk3-demo`, the first demo is `Application Class`: run it and click on the Help>About menu to see the GTK version. Same thing in GTK4. Or more simply:
[code]

Concerning your notebook, you could try to change the thermal paste on the processor, if accessi

[2021-05-12 03:28] nshaffer commented on #235
gtk3 seems to be OK. I'm suspecting some hardware incompatibility with recent OpenGL/GTK4/X11 something or other. Whatever the case, it doesn't seem like it's gtk-fortran's problem to fix!

[2021-05-12 03:28] #235 closed, assigned to vmagnin

[2021-05-17 10:02] #115 closed

[2021-05-17 10:03] #226 closed, assigned to vmagnin, konokadam

[2021-05-17 10:03] #228 closed, assigned to nobody

[2021-06-07 14:56] vmagnin opened #236 "With Intel ifort/ifx, gtkbuilder, gtkbuilder2 and gtkf-sketcher could not open gtkbuilder.glade"
**Describe the bug**
When gtk-fortran is built with ifort, gtkbuilder, gtkbuilder2 and gtkf-sketcher don't work and just print that error:
`Could not open gtkbuilder.glade`

**Your system:**
 - OS version: Ubuntu 21.04 64 bits
 - Compiler version: ifort (IFORT) 2021.2.0 20210228
 - GTK branch: tested only in gtk4.

**Additional context**
No problem with gfortran.

[2021-06-07 15:04] vmagnin opened #237 "With Intel ifort, the list_demo example shows garbage characters in its "Name" column"
**Describe the bug**
When gtk-fortran is built with ifort, the list_demo example shows garbage characters in its "Name" column. And in the terminal some warnings about UTF-8 appear:
[code]
And each time the example is run, the garbage characters are different.

**Expected behavior**
Should show some persons names.

**Your system:**
- OS version: Ubuntu 21.04 64 bits
- Compiler version: ifort (IFOR

[2021-06-07 15:12] vmagnin opened #238 "With Intel ifort, example/tests is stopped before the end"
**Describe the bug**
When gtk-fortran is built with ifort, example/tests is stopping before it is finished:
[code]

**Expected behavior**
Should continue and finally print:
[code]

**Your system:**
 - OS version: Ubuntu 21.04 64 bits
 - Compiler version: ifort (IFORT) 2021.2.0 20210228
 - GTK branch: tested only in gtk4.

**Additional context**
No problem with gfortran.

[2021-06-08 09:42] vmagnin commented on #237
That example is crashing in MSYS2/Windows 10 (tested with gfortran):
[code]

[2021-06-08 09:48] vmagnin commented on #236
Under MSYS2/Windows 10, and compiled with gfortran, gtkbuilder don't work and prints the same message.
But gtkbuilder2 and gtkf-sketcher have no problem, probably because they contain the `GCC$ ATTRIBUTES DLLEXPORT`.

[2021-06-10 13:33] #199 closed, assigned to jerryd, vmagnin, bonanza, jtappin

[2021-06-10 13:34] #200 closed, assigned to nobody

[2021-06-11 10:28] vmagnin opened #241 "MSYS2: in examples/bazaar, some widgets don't work"
**Describe the bug**
In examples/bazaar under MSYS2:
- the progress bar is not visible (related to button2)
- the About window is sometimes frozen (impossible to close or to go to the license tab).

**Your system:**
 - OS version: MSYS2 / Windows 10 2009
 - Compiler version: gfortran 10.3.0
 - GTK branch: gtk4
 - GTK 4.2.0 & 4.4.0

**Additional context**
No problem in the gtk3 branch.

[2021-06-11 10:33] vmagnin opened #242 "MSYS2: in examples/hl_assistant.exe and hl_pbar.exe, the progress bar is not visible"
**Describe the bug**
Under MSYS2, in examples/hl_assistant.exe and hl_pbar.exe, the progress bar is not visible

**Your system:**
 - OS version: MSYS2 / Windows 10 2009
 - Compiler version: gfortran 10.3.0
 - GTK branch: gtk4
 - GTK 4.2.0 & 4.4.0

**Additional context**
No problem in the gtk3 branch.

See also issue https://github.com/vmagnin/gtk-fortran/issues/241

[2021-06-11 10:37] vmagnin commented on #222
Not present in MSYS2/Windows 10 (GTK 4.2.0).

[2021-06-11 10:39] vmagnin opened #243 "MSYS2: in examples/hl_infobar.exe, the GtkInfoBar do not appear"
**Describe the bug**
Under MSYS2, in examples/hl_infobar.exe, the GtkInfoBar do not appear when clicking on a button.

**Your system:**
 - OS version: MSYS2 / Windows 10 2009
 - Compiler version: gfortran 10.3.0
 - GTK branch: gtk4
 - GTK 4.2.0 & 4.4.0

**Additional context**
No problem in the gtk3 branch.

[2021-06-11 10:43] vmagnin opened #244 "MSYS2: all *list* examples are crashing"
**Describe the bug**
The examples hl_list1.exe, hl_list_n.exe, hl_list_renderers.exe, hl_tree.exe and list_demo.exe are immediately crashing:
[code]

**Your system:**
 - OS version: MSYS2 / Windows 10 2009
 - Compiler version: gfortran 10.3.0
 - GTK branch: gtk3 & gtk4
 - GTK 4.2.0 & 4.4.0

[2021-06-11 11:55] vmagnin opened #245 "MSYS2: in examples/hl_sliders.exe and hl_sliders2.exe the bar of the slider is invisible"
**Describe the bug**
Under MSYS2, in examples/hl_sliders.exe and hl_sliders2.exe the bar of the slider is invisible (in hl_sliders2.exe it is visible until you move the slider).

**Your system:**
 - OS version: MSYS2 / Windows 10 2009
 - Compiler version: gfortran 10.3.0
 - GTK branch: gtk4
 - GTK 4.2.0 & 4.4.0
 -
**Additional context**
No problem in the gtk3 branch.

[2021-06-11 11:59] #229 closed, assigned to vmagnin

[2021-06-14 13:28] vmagnin commented on #236
gtkbuilder.f90 has been removed from the gtk4 branch, as it is now a duplicate of gtkbuilder2.f90 (they were using two different GTK 3 functions, removed in GTK 4).

[2021-06-17 15:19] #232 closed, assigned to vmagnin, bonanza

[2021-07-30 19:51] Sprinkles44 opened #247 "gtk3 cmake fail: linking hl_plplot8e.exe"
### Issue
I am following the instructions for installing the gtk3 version of gtk-fortran and I am getting errors when I make. It seems it can't link **hl_plplot8e.exe**

### Here is the **error**:
This happens when I run `make ..` and what the first error is:
[code]

So I ran `make -i` , this is where the first error is:
[code]

And then when I run `make install` :
[code]
and it stops there. Every

[2021-07-31 09:45] vmagnin commented on #247
Welcome @Sprinkles44 ,

please use the Wiki full instructions for installing gtk-fortran under Windows: https://github.com/vmagnin/gtk-fortran/wiki#windows
The INSTALL.md file is a quick version. And yes the cmake instruction you are citing replaces the `cmake ..` instruction used with Linux. I will edit that file to clarify things.

The error you encountered is about a missing library named gd, n

[2021-07-31 09:51] vmagnin commented on #247
Concerning the `CMake Error: Could not create named generator MSYS Makefiles` message, I don't know. You may find a solution here:
https://stackoverflow.com/questions/37365355/cmake-msys-makefiles-generator-missing

[2021-08-31 08:28] vmagnin commented on #207
See also https://discourse.gnome.org/t/need-help-in-understanding-autoconnecting-signals-from-builder-in-gtk-4/7420

[2021-08-31 14:50] #247 closed, assigned to vmagnin

[2021-09-01 14:06] vmagnin commented on #222
Still present in GTK 4.4.0 (Fedora Rawhide).

[2021-09-01 14:08] vmagnin commented on #219
Still present in GTK 4.4.0 (Fedora Rawhide).

[2021-09-01 14:10] vmagnin commented on #215
Still present with GTK 4.4.0 (Fedora Rawhide).

[2021-10-21 19:28] vmagnin commented on #236
Same problem with GTK 4.4 and ifort 2021.4.0

[2021-10-21 19:33] vmagnin commented on #237
Same problem with GTK 4.4 and ifort 2021.4.0.

[2021-10-21 19:42] vmagnin commented on #238
With GTK 4.4, GLib 2.70.0 and ifort 2021.4.0 under Ubuntu 21.10, the `tests` application is quickly filling the whole RAM. If it stopped by CTRL+C, the following messages are shown:
[code]
Idea: try to call `g_variant_unref()`: https://developer-old.gnome.org/glib/unstable/glib-GVariant.html#g-variant-unref

[2021-10-21 19:44] vmagnin commented on #237
The `regex` example is also printing some garbage:
[code]

[2021-10-23 15:39] vmagnin commented on #238
Freeing each g_variant with `g_variant_unref()` avoid RAM filling. But the program still does not stop. This is due to that loop:
[code]
That loop is undefined as it can overflow. With some compilers, it will run OK (GFortran), with others a will become <0 and the loop will never end (ifort).

Fixed by writing:
[code]
Fixed in the gtk4 branch (will be included in gtk-fortran 4.2).

[2021-10-23 16:08] vmagnin commented on #237
https://docs.gtk.org/gobject/method.Value.set_static_string.html

Maybe related to that post https://fortran-lang.discourse.group/t/using-box-drawing-characters/645/3

[2021-10-23 16:10] vmagnin commented on #237
Concerning regex.f90:
https://docs.gtk.org/glib/method.MatchInfo.fetch.html

[2021-10-23 16:13] vmagnin commented on #237
See also: https://docs.gtk.org/glib/method.MatchInfo.fetch.html?q=utf8

[2021-10-23 16:44] vmagnin commented on #236
After replacing `gtk_builder_add_from_file()` by `gtk_builder_new_from_file()`, the ifort 2021.4.0 error message is:
[code]
although there is a `subroutine hello(widget, gdata ) bind(c)` in the code.

https://docs.gtk.org/gtk4/class.Builder.html

[2021-10-25 20:09] band-a-prend commented on #182
As I could see the versioning no longer binded to Ubuntu releases and more relies or closer to GTK+ versions, isn't it?

[2021-10-26 08:02] vmagnin commented on #182
@band-a-prend , as stated in the Wiki: _starting with the 4.0 release, gtk-fortran will follow a classical semantic versioning (major.minor.patch): gtk-fortran 4.0 is based on GTK 4.2 and GLib 2.68._ And gtk-fortran 4.1 is based on GTK 4.4. So, the gtk-fortran versioning is now decoupled from the Ubuntu versioning and the GTK versioning (although the major version will still correspond to the majo

[2022-02-07 15:19] vmagnin commented on #237
The issue is still present with ifort 2021.5.0 20211109
**but there is no problem with ifx 2022.0.0 20211123**

[2022-02-07 15:40] #238 closed, assigned to vmagnin

[2022-02-10 17:44] vmagnin commented on #243
That problem disappeared with GTK 4.6.0 in MSYS2.

[2022-02-10 17:45] #243 closed, assigned to vmagnin

[2022-02-22 21:58] awvwgk opened #249 "User provided compile and link arguments are ignored"
**Describe the bug**

Compile and link arguments from `FFLAGS` and `LDFLAGS` are overwritten in

https://github.com/vmagnin/gtk-fortran/blob/225e25bdd6653b1678f1dc3190a57b2b40de2f1a/CMakeLists.txt#L88-L91

**Expected behavior**

Respect user provided arguments in `FFLAGS` and `LDFLAGS`, ignoring them can lead to build failures.

**To Reproduce**
Steps to reproduce the behavior:

[code]

User provi

[2022-02-23 08:18] vmagnin commented on #249
Good point. I will explore that kind of syntax:
[code]
or
[code]
I will try to work on it these next days.

https://bytefreaks.net/programming-2/two-ways-to-append-a-new-argument-to-cmake_args-list-for-externalproject_add

[2022-02-23 15:06] awvwgk commented on #249
I would appreciate not overwriting or appending to user flags, especially I don't want to see `-march=native` popping up when compiling a package for distribution.

How about using [CMAKE_Fortran_FLAGS_RELEASE_INIT](https://cmake.org/cmake/help/latest/variable/CMAKE_LANG_FLAGS_INIT.html)?

[2022-02-25 10:08] #249 closed, assigned to vmagnin

[2022-02-25 10:16] vmagnin commented on #245
It is probably a problem concerning GL and GTK 4 under Windows, as in a VirtualBox without 3D acceleration there is no problem.
Tested with GTK 4.6.1

[2022-02-25 10:16] vmagnin commented on #242
It is probably a problem concerning GL and GTK 4 under Windows, as in a VirtualBox without 3D acceleration there is no problem.
Tested with GTK 4.6.1

[2022-02-25 10:16] vmagnin commented on #241
It is probably a problem concerning GL and GTK 4 under Windows, as in a VirtualBox without 3D acceleration there is no problem.
Tested with GTK 4.6.1

[2022-03-08 23:16] vansnyder opened #255 "Non-standard references to g_application_run"
### Discussed in https://github.com/vmagnin/gtk-fortran/discussions/254

<div type='discussions-op-text'>

<sup>Originally posted by **vansnyder** March  8, 2022</sup>
The third argument of the subroutine g_application_run in module g is an array.

The subroutine is referenced twice, at line 86 in gtk-fortran.f90 and line 123 in gtk-hl-container.f90, with a scalar as the third argument.

gfortran

[2022-03-08 23:33] vansnyder commented on #255
g_application_run is also referenced in the examples with a scalar for the third argument.

An alternative repair is to provide a generic g_application_run interface with two specific procedures, one with a scalar argv argument, and one with an array argv argument in the module g.

interface g_application_run

! GLIB_AVAILABLE_IN_ALL
!int g_application_run (GApplication *application, int argc, cha

[2022-03-09 10:49] vmagnin commented on #255
Thanks for reporting with nagfor. It is very interesting to use several compilers. I have only access to gfortran, ifort and ifx, which accept the following line:
[code]
It could lead to interesting discussions, as in C `char **argv` is related to an array of strings.

I have successfully test the following line with gfortran, ifort and ifx:
[code]
I will have to use it in the files you cited and

[2022-03-09 16:12] vmagnin commented on #255
I have pushed the fix in my development branch `gtk4-vmagnin`: could you try to compile it with nagfor?

[2022-03-10 17:15] vmagnin commented on #255
I have merged the `gtk4-vmagnin` dev branch into `gtk4`.
I have also pushed the `g_application_run(app, 0_c_int, [c_null_ptr])` lines into the gtk3 branch.

[2022-03-10 17:15] #255 closed, assigned to vmagnin

[2022-03-24 16:51] vmagnin commented on #236
Same error message now with GTK 4.6.2: GFortran 12.0.1 in Fedora Rawhide, GFortran 11.2.0 in FreeBSD 13.

[code]
Line 86 is:
[code]
Line 95 is:
[code]

[2022-03-29 15:32] vmagnin commented on #236
But it works under MSYS2/Windows 10, with GFortran 11.2.0 and GTK 4.6.2.

[2022-04-12 20:29] vmagnin commented on #215
In FreeBSD 13.0 the error message is:
[code]

[2022-04-24 09:48] vmagnin opened #257 "macOS: programs using g_get_os_info() are crashing"
**Describe the bug**
In gtk-fortran 4.2.0, `examples/tests.f90`, `examples/bazaar.f90` and `src/gtk-fortran.f90` are crashing (segmentation fault), only on macOS.

**Your system:**
 - OS version: macOS 10.15.7
 - Compiler version: gfortran
 - GTK branch: gtk4, gtk-fortran 4.2.0

[2022-04-24 09:53] vmagnin commented on #257
The problem comes from the GLib `g_get_os_info()` function:
[code]

The GLib doc (https://docs.gtk.org/glib/func.get_os_info.html) says it returns NULL if this information is not provided. That is the case under macOS.

[2022-04-24 10:22] vmagnin commented on #257
Solution:
[code]

[2022-04-24 10:26] #257 closed, assigned to vmagnin

[2022-04-24 12:23] vmagnin opened #258 "gtk-fortran as a dependency using the Fortran Package Manager (fpm)"
### Discussed in https://github.com/vmagnin/gtk-fortran/discussions/246

<div type='discussions-op-text'>

<sup>Originally posted by **vmagnin** February  5, 2021</sup>
The new _Fortran Package Manager_ (fpm) can import dependencies from the web using git. For the moment it is limited to dependencies based on fpm. But in the future it should be able to import other projects which propose a build s

[2022-04-26 12:26] vmagnin opened #259 "The HL API documentation needs updating to GTK 4"
**The problem**

In the early days of gtk-fortran, the HL API documentation was automatically generated from source code comments, but the memory of which tool was exactly used is uncertain… This is the syntax that was used in the comments:

- A block delimited by `!*` and `!/` provides a section header.
- A block delimited by `!+` and `!-` describes an individual routine. The arguments are descri

[2022-04-28 14:07] #259 closed, assigned to vmagnin

[2022-04-29 13:16] vmagnin commented on #236
No problem with GTK 4.6.3 and GFortran 12.0.1 in latest Fedora Rawhide.

[2022-04-29 13:41] vmagnin commented on #215
More information with GFortran 12.0.1 in latest Fedora Rawhide, here for `hl_plplot17e.f90`:

[code]

[2022-05-10 19:40] vmagnin commented on #222
Still present in GTK 4.7.0 (Fedora Rawhide).

[2022-06-08 14:48] vmagnin commented on #236
Same problem with ifx 2022.1.0 20220316 ; gtk-fortran 4.2.1, GTK 4.6.3

[2022-06-09 09:40] vmagnin commented on #215
Could it be a bug in https://github.com/vmagnin/gtk-fortran/blob/gtk4/src/gtk-draw-hl.f90 ?

[2022-07-12 16:31] vmagnin commented on #236
The same error message occurs under MSYS2/Windows 10 if I remove the `    !GCC$ ATTRIBUTES DLLEXPORT :: ` attributes in `gtkbuilder2.f90`, and use GFortran to build it.

[2022-07-16 10:33] vmagnin commented on #236
For Intel Fortran, under Windows we should use: `!DIR$ ATTRIBUTES DLLEXPORT
::
object
[
,
object
]
...`
https://www.intel.com/content/www/us/en/develop/documentation/fortran-compiler-oneapi-dev-guide-and-reference/top/language-reference/a-to-z-reference/a-to-b/attributes/attributes-dllexport-and-dllimport.html

[2022-07-19 15:13] jeremynesbitt opened #260 "notebook example freezes when I try to detach tab."
**Describe the bug**
I am using macOS and I found that when I try to detach a tab in the notebooks.f90 example, the UI essentially freezes and I can only close it.  None of the other buttons or notebook tabs work after a drag n drop event.  I'm guessing this is an issue with my machine or OS, but was hoping to get some confirmation.

**Expected behavior**
If I try to detach a tab that the rest of

[2022-07-19 19:19] vmagnin commented on #260
Thanks for this precise bug report, and for reporting that other examples are running fine on macOS / M1 !

On my side:
- GFortran 11.2.0, GTK 4.6.5, Linux Kubuntu 22.04: no freeze. I can move the tab to the other notebook. But if I move it off the window, it will finally reappear a few seconds later (sometimes 10 seconds).
    - With GTK 3.24.33, nothing happens if I try to move it off the window

[2022-07-19 19:31] vmagnin commented on #260
https://docs.gtk.org/gtk4/class.Notebook.html

[2022-07-20 00:41] jeremynesbitt commented on #260
Thanks Vincent for the response and the info!

Now I am more convinced that there is some gtk issue; I will file an issue
there. FWIW I started to do the implementation based on this article, and
only when I was having problems did I realize you had a nice example that
also wasn't working either.
https://stackoverflow.com/questions/56377755/given-a-gtk-notebook-how-does-one-drag-and-drop-a-page-to

[2022-07-20 11:00] vmagnin commented on #260
Jeremy @jnez137 ,

I have read https://docs.gtk.org/gtk4/class.Notebook.html and https://docs.gtk.org/gtk4/method.Notebook.set_tab_detachable.html
I don't think that if we move a tab off the window it should be destroyed. My understanding is that the Drag aNd Drop operation is canceled. Of course, it should not freeze the application! Another great place to obtain help about GTK is the [GNOME Disc

[2022-07-21 14:06] jeremynesbitt commented on #260
Thanks for the info!  I'll look at the gtk documentation and submit an
issue.

Regarding macOS installation, I wrote down one additional thing that I had
to do for my M1 mac, which may be different for other macs that use gcc.
I had some problems getting PLPlOT to compile with the LLVM/Clang compiler,
and had to add these variables to CMAKE as a result:

Add this to Cmakelists.txt

set(CMAKE_CXX_F

[2022-07-21 14:17] vmagnin commented on #260
Thanks Jeremy for your return, that may be useful for other mac users.

Note that I have added some functionalities in `notebooks.f90` yesterday. It works fine with GFortran, but with Intel ifx I had a severe freeze under Linux (the desktop was frozen and I had to kill the process in a terminal screen).

[2022-08-14 10:37] vmagnin opened #261 "Building now fails in MSYS2/Windows10 [-Wmissing-include-dirs]"
**Describe the bug**
Building now fails in MSYS2/Windows10 with a lot of warnings `951.exe: Warning: Nonexistent include directory 'modules/' [-Wmissing-include-dirs]` although those `modules` directories do exist:
[code]

**Your system:**
 - OS version: MSYS2/Windows10
 - Compiler version: gfortran 12.1.0, 12.2.0
 - GTK branch: gtk4

**Additional context**
See also https://fortran-lang.discourse.

[2022-08-26 19:45] vmagnin commented on #222
That bug is fixed in GTK 4.6.7 (tested in Fedora 36) and GTK 4.7.2 (tested in Fedora Rawhide).

[2022-08-26 19:49] vmagnin commented on #219
Still present in GTK 4.7.2 (Fedora Rawhide).

[2022-09-05 03:51] alphahui opened #262 "VS solution missing .dll files when built"
I am working on a Fortran program with VS solution. I followed the guided for installing gtk3 on "https://github.com/wingtk/gvsbuild". Then followed the following guide for creating the static library in VS community, "https://fortran-lang.discourse.group/t/trying-to-get-gtk-fortran-to-work-in-vs2019-with-intel-fortran-compiler/747/21?page=2". When I try to run the project, I when into the popup o

[2022-09-05 08:47] vmagnin commented on #262
Unhappily, I can not help you concerning VS. But you will probably find help in the Fortran-lang discourse: 25% of that community is using VS (see https://fortran-lang.discourse.group/t/code-editors-ides-used-for-fortran/3139).

[2022-09-05 09:12] alphahui commented on #262
Ok, Thanks! I will be asking in that discourse and post the solution here, once I get it.

[2022-09-29 06:41] vmagnin opened #263 "GitHub believes the .inc files are C++ instead of Fortran"
**Describe the bug**
On the page of the project, GitHub falsely asserts that gtk-fortran is 30% C++ because he believes that the Fortran files `src/gtkenums-auto.inc` and `src/gtk-auto.inc` (both included in `gtk.f90`) are in that language.

**Expected behavior**
Should asserts that gtk-fortran is ~100% in Fortran (excepting scripts, CMakes files, etc.).

**Additional context**
These two files had

[2022-09-29 07:26] #263 closed, assigned to vmagnin

[2022-09-29 07:31] vmagnin commented on #236
Ubuntu 22.04 with GTK 4.6.6 and ifx (IFORT) 2022.1.0 20220316:
[code]

[2022-09-29 13:00] vmagnin opened #264 "The module handlers_gtk_fortran.mod should not be installed on the system"
**Describe the bug**
When `$ sudo make install`, the module `handlers_gtk_fortran` declared inside `src/gtk-fortran.f90` is installed in the system:
[code]
but the user do not need that module.

**Your system:**
 - OS version: Ubuntu 22.04
 - GTK branch: gtk4 and gtk3

**Additional context**
It will be fixed only in the gtk4 branch.

[2022-09-29 14:22] vmagnin commented on #264
I tried to delete the `handlers_gtk_fortran` module and put the `activate()` subroutine in the `contains` section of the `program`:

[code]
With Intel ifx, it builds without problem.

But with GFortran 11.2 (and 12.1), I get that error:
[code]

I thought it was linked to issue https://github.com/vmagnin/gtk-fortran/issues/183 but the error also occurs when adding the GCC `-no-pie` flag.

[2022-09-30 06:39] vmagnin opened #265 "CMake does not detect the updates of examples/gtkbuilder.ui"
**Describe the bug**
`gtkbuilder2.f90` needs the file `gtkbuilder.ui`. If this file is modified in the sources, CMake does not copy it again in the build directory. The `examples/CMakeLists.txt` file uses:

[code]

**Your system:**
 - OS version: Ubuntu 22.04
 - Compiler version: gfortran 11.2.0
 - CMake 3.22.1
 - GTK branch: gtk4

**Additional context**
- Will be fixed only in the gtk4 branch.
-

[2022-09-30 06:40] vmagnin commented on #265
See also https://discourse.cmake.org/t/how-to-copy-an-auxiliary-file-in-the-build-directory-that-will-be-updated-by-cmake-when-needed/6580

[2022-09-30 06:45] #265 closed, assigned to vmagnin

[2022-09-30 14:41] vmagnin commented on #264
The installation of that file is now excluded in the `src/CMakeLists.txt file`:
[code]

[2022-09-30 14:41] #264 closed, assigned to vmagnin

[2022-09-30 14:54] #222 closed, assigned to nobody

[2022-09-30 15:32] vmagnin commented on #260
I have tested `notebooks.f90` on macOS 12.6, with GFortran 12.2.0 and GTK 4.8.1. I have tried to drop and drag a tab from the upward notebook to the downward notebook, which should work. But on macOS, the example is frozen (but the closing cross works):
[code]

[2022-10-03 06:49] vmagnin opened #266 "cfwrapper.py: preparing for GTK 4.8 / GLib 2.74"
**Describe the bug**
Build fails with interfaces to GTK 4.8 / GLib 2.74 generated by `cfwrapper.py`:
[code]

**Your system:**
 - OS version: Fedora 37
 - Compiler version: gfortran 12.2.1
 - GTK branch: gtk4

[2022-10-03 06:56] vmagnin commented on #266
The three lines are:
[code]

Related to issue https://github.com/vmagnin/gtk-fortran/issues/234

[2022-10-03 07:52] vmagnin commented on #266
In the first and last line, the `GLIB_AVAILABLE_ENUMERATOR_IN_2_74` string has no trailing space. The problem is fixed by removing the trailing space in the regex of line 84 in enums.py:
[code]

And a new regex must be added to remove the constants `GLIB_DEPRECATED_ENUMERATOR_IN_2_74_FOR...`:
[code]

The `/usr/include/glib-2.0/gio/gioenums.h` contains:
[code]

[2022-10-03 07:56] #266 closed, assigned to vmagnin

[2022-10-03 08:34] vmagnin opened #267 "Preparing for GLib 3.0: G_APPLICATION_FLAGS_NONE is deprecated in GLib 2.74"
In GLib 2.74.0, available in Fedora 37 with GTK 4.8, the `/usr/include/glib-2.0/gio/gioenums.h` contains:
[code]

https://docs.gtk.org/gio/flags.ApplicationFlags.html#flags_none

It therefore may be removed in the future GLib 3.0: https://gitlab.gnome.org/GNOME/glib/-/milestones

The concerned files in gtk-fortran are:
[code]

For example, in `bazaar.f90`:
[code]

[2022-10-03 08:48] vmagnin opened #268 "Preparing for GLib 3.0: g_variant_get_string() to take one argument"
In https://gitlab.gnome.org/GNOME/glib/-/milestones/2#tab-issues
we can see in the future GLib 3.0 the API break [Change g_variant_get_string() to take one argument](https://gitlab.gnome.org/GNOME/glib/-/issues/798)

In gtk-fortran (gtk4), the only concerned file is:
[code]

[2022-10-04 18:13] vmagnin commented on #241
The "About window" problem seems to have disappeared. Tested with GTK 4.8.1 and Windows 10 21H2.

[2022-10-05 06:43] vmagnin opened #269 "MSYS2: PLplot detected by CMake but compilation fails for PLplot examples"
**Describe the bug**
CMake detects PLplot modules, but the compilation fails:
[code]

[code]

**Your system:**
 - OS version: Windows 10 21H2  and MSYS2-UCRT64
 - Compiler version: gfortran 12.2.0
 - GTK branch: gtk4

[2022-10-05 07:04] vmagnin opened #270 "MSYS2: installation of gtk-fortran fails because of src/gtk-4-fortran.exe"
**Describe the bug**
Installation fails at `src/gtk-4-fortran` probably because the filename is `gtk-4-fortran.exe` in Windows:

[code]

**Your system:**
 - OS version: Windows 10 21H2  and MSYS2-UCRT64
 - Compiler version: gfortran 12.2.0
 - GTK branch: gtk4

[2022-10-05 07:07] vmagnin commented on #270
In `src/CMakeLists.txt`:
[code]

[2022-10-05 09:50] #270 closed, assigned to vmagnin

[2022-10-05 15:17] vmagnin commented on #269
With Ninja:
[code]
The problem probably comes from `-IC:/msys64/home/vmagnin/temp/gtk-fortran/lib/fortran/modules/plplot`
It should be `-IC:/msys64/ucrt64/lib/fortran/modules/plplot`

[code]

[2022-10-05 15:25] vmagnin commented on #269
In `plplot/CMakeLists.txt`:
[code]

[2022-10-11 07:25] jeremynesbitt commented on #260
Thanks for the update!  I will submit a bug against gtk 4 for this issue.

On Fri, Sep 30, 2022 at 8:32 AM Vincent Magnin ***@***.***>
wrote:

[2022-10-11 07:38] vmagnin commented on #261
I have reinstalled MSYS2 and I now use the CRT64 environment instead of MINGW64. It fixed the problem.

[2022-10-11 07:38] #261 closed, assigned to vmagnin

[2022-10-11 07:45] vmagnin commented on #237
The problem is still present with ifort (IFORT) 2021.7.0 20220726. But it is OK with ifx which will replace ifort.

[2022-10-11 07:45] #237 closed, assigned to vmagnin